.recharts-tooltip-label {
    color: white;
}

.linechart {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 6;

}

.linechart-title {
position: absolute;
width: 120px;
height: 20px;
font-size: 12px;
padding: 0 0 5px 20px;
color: white;
opacity: 0.6;

}

.linechart-container {

    display: flex;
    width: 200px;
    height: 160px;
    padding: 30px 0 0 0;
}

.label1 {
    color: black;
    font-weight: bold;
    font-size: 8px;
}

.custom-tooltip1 {
    display: flex;
    text-align: center;
    justify-content: center;
    background: white;
    width: 30px;
    height: 20px;
    padding: 0;
}

.toto {
    font-size: 20px;
    color: white;

}