.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 10000;
    /*animation: hide 0s ease-in 1.5s forwards;*/
}

  .loader {
      display: flex;
      flex-direction: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
      }

  .loader::before {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #767171;
    animation: prixClipFix 2s linear infinite ;
  }

  .loader-white::before {
    border: 5px solid #FEFEFE;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  @keyframes hide {
    100% {
      width: 0;
      height: 0;
      z-index: -1;
      visibility: hidden;
      pointer-events: none;
    }}
