.body {
    padding: 10% 0 5% 15%;
}

.home-title {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight:600;
    color: black;
    z-index: 3;
    position: relative;

}

.home-text {
    margin: 20px 0 20px 0;
    font-size: 14px;
}

.message {
    margin: 0 8px 0 0;
}

.home-username {
    color: red;
}

.content-block {
    display: flex;
    flex-direction: row;
}

.chart-list {

}

.column-chart {
    width: 900px;
    height: 250px;
    background: #FBFBFB;

}

.block-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 0 0;
}

.chart {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 200px;
    height:200px;
    background: #FBFBFB;
    border-radius:5px;
}

.polar-chart  {
    background: #282D30;
}

.line-chart {
    background: #ff0000;
}

.pie-chart {
    padding:20px;
}

