.body {
    position: relative;
    padding: 6% 10% 0 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-title {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-size: 30px;
    font-weight:600;
    color: black;
    z-index: 3;
    position: relative;
    padding: 0 0 0 20px;

}

.home-message {
    display: flex;
    flex-direction: row;
}

.home-text {
    margin: 20px 0 20px 0;
    font-size: 14px;
}

.message {
    margin: 0 8px 0 0;
}

.home-username {
    color: red;
}

.content {
    display:flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding: 0 0 0 20px;
}

.content-block {
    display: flex;
    flex-direction: row;
}

.sidemenu-component {
    height: 80px;
} 

.column-chart {
    width: 800px;
    height: 250px;
    background: #FBFBFB;

}

.block-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 0 0;
}

.chart {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 220px;
    height:220px;
    background: #FBFBFB;
    border-radius:5px;
}

.polar-chart  {
    background: #282D30;
    padding: 0;
}

.line-chart {
    background: #ff0000;
}

@media (max-width: 1200px) {
	.content {
		display: flex;
        flex-direction: column;
        flex-wrap: wrap;
	}
}