.polarchart {
    position: relative;
    width: 200px;
    height: 200px;

}

.polarchart-container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}